<section class="mdc-area mdc-area-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="mdc-module-breacrumb style-01">

                        <div class="breadcrumb-nav">
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" href="#">
                                    <span itemprop="title">Home</span>
                                </a>
                            </span>
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" class="current-page">
                                    <span itemprop="title">/ Services</span>
                                </a>
                            </span>
                        </div>
                        <h2 class="breadcrumb-title">Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-8">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-service">
                    <div class="widget-content">
                        <div class="mdc-tab style-03 row">
                            <div class="col-md-3 col-sm-4 col-xs-5">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab-service1" data-toggle="tab" >Birth Center</a></li>
                                    <li class = "dropdown"><a href="#" id = "myTabDrop1" class="dropdown-toggle" data-toggle = "dropdown">Breast Care </a>
                                        <ul class = "dropdown-menu" role = "menu" aria-labelledby = "myTabDrop1">
                                            <li><a href="#tab-service21" data-toggle="tab" tabindex = "-1">Why choose us ?</a></li>
                                            <li><a href="#tab-service22" data-toggle="tab" tabindex = "-1">Screening and Diagnosis</a></li>
                                            <li><a href="#tab-service23" data-toggle="tab" tabindex = "-1">Treatment</a></li>
                                            <li><a href="#tab-service24" data-toggle="tab" tabindex = "-1">Resources</a></li>
                                            <li><a href="#tab-service25" data-toggle="tab" tabindex = "-1">Support</a></li>
                                        </ul>
                                    </li>
                                    <li class=""><a href="#tab-service3" data-toggle="tab">Heart Care</a></li>
                                </ul>
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-7">
                                <div class="tab-content">
                                    <div class="tab-pane" id="tab-service1">
                                        <h2 class="mdc-tab-title">Why Choose Us?</h2>
                                        <span class="sub-tab-title">Comprehensive Care in a Single Location</span>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/59.jpg" alt="">
                                            </div>
                                            <p>Our dedication to early detection using the latest technology and resources is just part of what sets Lutheran apart. Our breast care specialists are here for you from your screening through the earliest diagnosis to treatment and recovery. We want to be your partners in health.</p>
                                            <p>If you are diagnosed with cancer, we don’t refer you elsewhere. Instead, we immediately create a personal, collaborative,</p>
                                        </div>
                                        <span class="sub-tab-title">Integrated Care Teams</span>
                                        <p>Our cancer teams believe in open communication and collaboration in order to provide you the best breast treatment and care possible. Every breast cancer case is reviewed at a weekly conference by experts from radiology, surgery, pathology, pharmacology and oncology, as well as ancillary services such as physical therapy and psychological assistance, to ensure you are receiving the best care possible. This provides you with a unified care team that is focused on you and your recovery. Our entire team is dedicated to restoring your health.</p>
                                        <span class="sub-tab-title">Award-Winning & Accredited Care</span>
                                        <p>When you choose Lutheran, you can be confident you’re receiving some of the highest quality care in the nation. Lutheran was the first Colorado hospital to earn accreditation from the National Accreditation Program for Breast Centers (NAPBC) for our Breast Care Center. Lutheran joins only 203 other hospitals nationwide that have earned this accreditation. The Center is also accredited by the American College of Radiology for mammography, breast ultrasound, stereotactic biopsy and ultrasound-guided biopsy and is a member of the National Consortium of Breast Centers</p>
                                    </div>
                                    <div class="tab-pane active" id="tab-service21">
                                        <h2 class="mdc-tab-title">Why Choose Us?</h2>
                                        <span class="sub-tab-title">Comprehensive Care in a Single Location</span>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/59.jpg" alt="">
                                            </div>
                                            <p>Our dedication to early detection using the latest technology and resources is just part of what sets Lutheran apart. Our breast care specialists are here for you from your screening through the earliest diagnosis to treatment and recovery. We want to be your partners in health.</p>
                                            <p>If you are diagnosed with cancer, we don’t refer you elsewhere. Instead, we immediately create a personal, collaborative,</p>
                                        </div>
                                        <span class="sub-tab-title">Integrated Care Teams</span>
                                        <p>Our cancer teams believe in open communication and collaboration in order to provide you the best breast treatment and care possible. Every breast cancer case is reviewed at a weekly conference by experts from radiology, surgery, pathology, pharmacology and oncology, as well as ancillary services such as physical therapy and psychological assistance, to ensure you are receiving the best care possible. This provides you with a unified care team that is focused on you and your recovery. Our entire team is dedicated to restoring your health.</p>
                                        <span class="sub-tab-title">Award-Winning & Accredited Care</span>
                                        <p>When you choose Lutheran, you can be confident you’re receiving some of the highest quality care in the nation. Lutheran was the first Colorado hospital to earn accreditation from the National Accreditation Program for Breast Centers (NAPBC) for our Breast Care Center. Lutheran joins only 203 other hospitals nationwide that have earned this accreditation. The Center is also accredited by the American College of Radiology for mammography, breast ultrasound, stereotactic biopsy and ultrasound-guided biopsy and is a member of the National Consortium of Breast Centers</p>
                                    </div>
                                    <div class="tab-pane" id="tab-service23">
                                        <h2 class="mdc-tab-title">Screening and Diagnosis</h2>
                                        <span class="sub-tab-title">Comprehensive Care in a Single Location</span>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/59.jpg" alt="">
                                            </div>
                                            <p>Our dedication to early detection using the latest technology and resources is just part of what sets Lutheran apart. Our breast care specialists are here for you from your screening through the earliest diagnosis to treatment and recovery. We want to be your partners in health.</p>
                                            <p>If you are diagnosed with cancer, we don’t refer you elsewhere. Instead, we immediately create a personal, collaborative,</p>
                                        </div>
                                        <span class="sub-tab-title">Integrated Care Teams</span>
                                        <p>Our cancer teams believe in open communication and collaboration in order to provide you the best breast treatment and care possible. Every breast cancer case is reviewed at a weekly conference by experts from radiology, surgery, pathology, pharmacology and oncology, as well as ancillary services such as physical therapy and psychological assistance, to ensure you are receiving the best care possible. This provides you with a unified care team that is focused on you and your recovery. Our entire team is dedicated to restoring your health.</p>
                                        <span class="sub-tab-title">Award-Winning & Accredited Care</span>
                                        <p>When you choose Lutheran, you can be confident you’re receiving some of the highest quality care in the nation. Lutheran was the first Colorado hospital to earn accreditation from the National Accreditation Program for Breast Centers (NAPBC) for our Breast Care Center. Lutheran joins only 203 other hospitals nationwide that have earned this accreditation. The Center is also accredited by the American College of Radiology for mammography, breast ultrasound, stereotactic biopsy and ultrasound-guided biopsy and is a member of the National Consortium of Breast Centers</p>
                                    </div>
                                    <div class="tab-pane" id="tab-service22">
                                        <h2 class="mdc-tab-title">Resources</h2>
                                        <span class="sub-tab-title">Comprehensive Care in a Single Location</span>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/59.jpg" alt="">
                                            </div>
                                            <p>Our dedication to early detection using the latest technology and resources is just part of what sets Lutheran apart. Our breast care specialists are here for you from your screening through the earliest diagnosis to treatment and recovery. We want to be your partners in health.</p>
                                            <p>If you are diagnosed with cancer, we don’t refer you elsewhere. Instead, we immediately create a personal, collaborative,</p>
                                        </div>
                                        <span class="sub-tab-title">Integrated Care Teams</span>
                                        <p>Our cancer teams believe in open communication and collaboration in order to provide you the best breast treatment and care possible. Every breast cancer case is reviewed at a weekly conference by experts from radiology, surgery, pathology, pharmacology and oncology, as well as ancillary services such as physical therapy and psychological assistance, to ensure you are receiving the best care possible. This provides you with a unified care team that is focused on you and your recovery. Our entire team is dedicated to restoring your health.</p>
                                        <span class="sub-tab-title">Award-Winning & Accredited Care</span>
                                        <p>When you choose Lutheran, you can be confident you’re receiving some of the highest quality care in the nation. Lutheran was the first Colorado hospital to earn accreditation from the National Accreditation Program for Breast Centers (NAPBC) for our Breast Care Center. Lutheran joins only 203 other hospitals nationwide that have earned this accreditation. The Center is also accredited by the American College of Radiology for mammography, breast ultrasound, stereotactic biopsy and ultrasound-guided biopsy and is a member of the National Consortium of Breast Centers</p>
                                    </div>
                                    <div class="tab-pane" id="tab-service24">
                                        <h2 class="mdc-tab-title">Treatment</h2>
                                        <span class="sub-tab-title">Comprehensive Care in a Single Location</span>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/59.jpg" alt="">
                                            </div>
                                            <p>Our dedication to early detection using the latest technology and resources is just part of what sets Lutheran apart. Our breast care specialists are here for you from your screening through the earliest diagnosis to treatment and recovery. We want to be your partners in health.</p>
                                            <p>If you are diagnosed with cancer, we don’t refer you elsewhere. Instead, we immediately create a personal, collaborative,</p>
                                        </div>
                                        <span class="sub-tab-title">Integrated Care Teams</span>
                                        <p>Our cancer teams believe in open communication and collaboration in order to provide you the best breast treatment and care possible. Every breast cancer case is reviewed at a weekly conference by experts from radiology, surgery, pathology, pharmacology and oncology, as well as ancillary services such as physical therapy and psychological assistance, to ensure you are receiving the best care possible. This provides you with a unified care team that is focused on you and your recovery. Our entire team is dedicated to restoring your health.</p>
                                        <span class="sub-tab-title">Award-Winning & Accredited Care</span>
                                        <p>When you choose Lutheran, you can be confident you’re receiving some of the highest quality care in the nation. Lutheran was the first Colorado hospital to earn accreditation from the National Accreditation Program for Breast Centers (NAPBC) for our Breast Care Center. Lutheran joins only 203 other hospitals nationwide that have earned this accreditation. The Center is also accredited by the American College of Radiology for mammography, breast ultrasound, stereotactic biopsy and ultrasound-guided biopsy and is a member of the National Consortium of Breast Centers</p>
                                    </div>
                                    <div class="tab-pane" id="tab-service25">
                                        <h2 class="mdc-tab-title">Support</h2>
                                        <span class="sub-tab-title">Comprehensive Care in a Single Location</span>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/59.jpg" alt="">
                                            </div>
                                            <p>Our dedication to early detection using the latest technology and resources is just part of what sets Lutheran apart. Our breast care specialists are here for you from your screening through the earliest diagnosis to treatment and recovery. We want to be your partners in health.</p>
                                            <p>If you are diagnosed with cancer, we don’t refer you elsewhere. Instead, we immediately create a personal, collaborative,</p>
                                        </div>
                                        <span class="sub-tab-title">Integrated Care Teams</span>
                                        <p>Our cancer teams believe in open communication and collaboration in order to provide you the best breast treatment and care possible. Every breast cancer case is reviewed at a weekly conference by experts from radiology, surgery, pathology, pharmacology and oncology, as well as ancillary services such as physical therapy and psychological assistance, to ensure you are receiving the best care possible. This provides you with a unified care team that is focused on you and your recovery. Our entire team is dedicated to restoring your health.</p>
                                        <span class="sub-tab-title">Award-Winning & Accredited Care</span>
                                        <p>When you choose Lutheran, you can be confident you’re receiving some of the highest quality care in the nation. Lutheran was the first Colorado hospital to earn accreditation from the National Accreditation Program for Breast Centers (NAPBC) for our Breast Care Center. Lutheran joins only 203 other hospitals nationwide that have earned this accreditation. The Center is also accredited by the American College of Radiology for mammography, breast ultrasound, stereotactic biopsy and ultrasound-guided biopsy and is a member of the National Consortium of Breast Centers</p>
                                    </div>
                                    <div class="tab-pane" id="tab-service3">
                                        <h2 class="mdc-tab-title">Treatment</h2>
                                        <span class="sub-tab-title">Comprehensive Care in a Single Location</span>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/59.jpg" alt="">
                                            </div>
                                            <p>Our dedication to early detection using the latest technology and resources is just part of what sets Lutheran apart. Our breast care specialists are here for you from your screening through the earliest diagnosis to treatment and recovery. We want to be your partners in health.</p>
                                            <p>If you are diagnosed with cancer, we don’t refer you elsewhere. Instead, we immediately create a personal, collaborative,</p>
                                        </div>
                                        <span class="sub-tab-title">Integrated Care Teams</span>
                                        <p>Our cancer teams believe in open communication and collaboration in order to provide you the best breast treatment and care possible. Every breast cancer case is reviewed at a weekly conference by experts from radiology, surgery, pathology, pharmacology and oncology, as well as ancillary services such as physical therapy and psychological assistance, to ensure you are receiving the best care possible. This provides you with a unified care team that is focused on you and your recovery. Our entire team is dedicated to restoring your health.</p>
                                        <span class="sub-tab-title">Award-Winning & Accredited Care</span>
                                        <p>When you choose Lutheran, you can be confident you’re receiving some of the highest quality care in the nation. Lutheran was the first Colorado hospital to earn accreditation from the National Accreditation Program for Breast Centers (NAPBC) for our Breast Care Center. Lutheran joins only 203 other hospitals nationwide that have earned this accreditation. The Center is also accredited by the American College of Radiology for mammography, breast ultrasound, stereotactic biopsy and ultrasound-guided biopsy and is a member of the National Consortium of Breast Centers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-15">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget mdc-widget-service-list-post">
                    <div class="widget-title style-03">
                        <h2 class="title mdc-style-04">Feature Service</h2>
                        <p>These are our special exams</p>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="thumb-icon">
                                        <i class="glyph-icon flaticon-people"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Gynaecology </a></h3>
                                        <p>Reshape the appearance of body parts through cosmetic surgery. Our surgeons are specialized in reconstructing face</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="thumb-icon">
                                        <i class="glyph-icon flaticon-people"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Gynaecology </a></h3>
                                        <p>Reshape the appearance of body parts through cosmetic surgery. Our surgeons are specialized in reconstructing face</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="thumb-icon">
                                        <i class="glyph-icon flaticon-people"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Gynaecology </a></h3>
                                        <p>Reshape the appearance of body parts through cosmetic surgery. Our surgeons are specialized in reconstructing face</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>