<section class="mdc-area mdc-area-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="mdc-module-breacrumb style-01">

                        <div class="breadcrumb-nav">
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" href="?p=index">
                                    <span itemprop="title">Home / </span>
                                </a>
                            </span>
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" class="current-page">
                                    <span itemprop="title">Contato</span>
                                </a>
                            </span>
                        </div>
                        <h2 class="breadcrumb-title">Entre em contato conosco</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--scripts do google maps-->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAu_BQRC_7lF2qngpOJa7QtMMlYm8meJ3k"></script>
    <script src="js/maps.js"></script>
<!--scripts do google maps-->

<section class="mdc-area mdc-area-nospace">
    <div class="widget mdc-widget-map">
        <div class="widget-content">
            <div id="googleMap" style="height:380px;"></div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-8">
    <div class="container">
        <div class="row mdc-custom-row-04 mh-populor">
            <div class="col-md-4 col-sm-5 col-xs-12 mdc-custom-left">
                <div class="widget mdc-widget-contact-detail">
                    <h2 class="widget-title style-12">
                        Detalhes para Contato
                    </h2>
                    <div class="widget-content">
                        <ul>
                            <li><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="#">Avenida Muqui nº15.<br/>Itaparica, Vila Velha - ES</a></li>
                            <li><i class="fa fa-phone-square" aria-hidden="true"></i><a href="callto:+552737223385">27 3722 3385</a></li>
                            <li><i class="fa fa-envelope-square" aria-hidden="true"></i><a href="mailto:contato@cldv.com.br">contato@cldv.com.br</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12 white-text-style mdc-custom-right">
                <div class="widget mdc-widget-contact-open-house">
                    <h2 class="widget-title style-12">
                        Horário de Funcionamento
                    </h2>
                    <div class="widget-content">
                        <ul>
                            <li>Segunda-feira <span>08:00 - 18:00</span></li>
                            <li>Terça-feira <span>08:00 - 18:00</span></li>
                            <li>Quarta-feira <span>08:00 - 18:00</span></li>
                            <li>Quinta-feira <span>08:00 - 18:00</span></li>
                            <li>Sexta-feira <span>08:00 - 18:00</span></li>
                            <li>Sábado <span>09:00 - 14:00</span></li>
                            <li>Domingo <span>Fechado</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-6 mdc-area-notop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-contact-form">
                    <h2 class="widget-title style-12">Formulário para contato</h2>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                 <p style="text-align:justify;">A Lírio dos Vales é uma empresa especializada no atendimento às pessoas da melhor idade com atenção à saúde, socialização e promoção ao envelhecimento saudável.</p>               
                            </div>
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <form class="contact-form" action="http://corpdip.pe.hu/contato/auto_envio.php" method="post">
                                    <div class="row">
                                    <p class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" name="Nome" placeholder="Nome" required>
                                    </p>
                                    <p class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="Telefone" placeholder="Telefone">
                                    </p>
                                    <p class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="E-mail" placeholder="E-mail" required>
                                    </p>
                                    <p class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" name="Assunto" placeholder="Assunto" required>
                                    </p>
                                    <p class="col-md-12 col-sm-12 col-xs-12">
                                        <textarea cols="30" rows="3" name="Mensagem" placeholder="Digite sua mensagem aqui" required></textarea>
                                    </p>

                                        <input type="hidden" name="site" value="http://cldv.com.br/">
                                        <input type="hidden" name="email" value="cevliriodovale@gmail.com">

                                    <p class="col-md-12 col-sm-12 col-xs-12 mdc-content-submit">
                                        <input type="submit" class="mdc-submit" value="Enviar">
                                    </p>
                                    </div>
                                </form>               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
