<section class="mdc-area mdc-area-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="mdc-module-breacrumb style-01">

                        <div class="breadcrumb-nav">
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" href="?p=index">
                                    <span itemprop="title">Home / </span>
                                </a>
                            </span>
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" class="current-page">
                                    <span itemprop="title">Empresa</span>
                                </a>
                            </span>
                        </div>
                        <h2 class="breadcrumb-title">Quem Somos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-8">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-about-call">
                    <div class="widget-content">
                        <div class="wrap">
                            <a href="?p=contato" class="btn mdc-btn-pade-01">Contato</a>
                            <span class="text-center">Agende uma visita e venha nos conhecer!</span>
                            <a href="callto:+552730637921" class="mdc-call"><i class="icon-call-end" style="color:#F08D13"></i>27 3063 7921</a>
                        </div>
                        <p class="text-justify">A <b>Lírio dos Vales</b> foi idealizada para atender o idoso de uma forma diferenciada. Um local de diversão, espaço para relaxamento e distração, visando a participação social e conferindo cidadania com a consequente qualidade de vida.<br/>
                        A empresa está localizada no bairro Itaparica, pois consideramos ser um local estratégico, de fácil acesso e de locomoção tranquila.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-notop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-about-owl">
                    <div class="widget-content">
                        <article class="entry-item">
                            <div class="entry-thumb mdc-thumb-owl">
                                <div class="owl-carousel" data-speed="1000" data-auto="false">
                                    <div class="item">
                                        <a href="#"><img src="images/_empresa/foto1.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="images/_empresa/foto2.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="images/_empresa/foto3.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content">
                                <p class="text-justify">A <b>Lírio dos Vales</b> presta serviços de lazer e informação, interatividade e entretenimento ao idoso.</p>
                                <span class="title-list">Serviços oferecidos pela empresa:</span>
                                <ul>
                                    <li><a href="?p=empresa">Transporte particular de passageiros;</a></li>
                                    <li><a href="?p=empresa">Supervisão de cuidadores;</a></li>
                                    <li><a href="?p=empresa">Massoterapia;</a></li>
                                    <li><a href="?p=empresa">Zumba Gold;</a></li>
                                    <li><a href="?p=empresa">Hidroginástica;</a></li>
                                    <li><a href="?p=empresa">Artesanato;</a></li>
                                    <li><a href="?p=empresa">Acompanhamento pedagógico;</a></li>
                                    <li><a href="?p=empresa">Terapia Ocupacional;</a></li>
                                    <li><a href="?p=empresa">Acompanhamento nutricional;</a></li>
                                    <li><a href="?p=empresa">Acompanhamento geriátrico.</a></li>
                                </ul>
                                <p><b>Lírio dos Vales, curta a sua melhor idade aqui!</b></p>
                            </div>

                        </article>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>