<section class="mdc-area mdc-area-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="mdc-module-breacrumb style-01">

                        <div class="breadcrumb-nav">
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" href="#">
                                    <span itemprop="title">Home /</span>
                                </a>
                            </span>
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" class="current-page">
                                    <span itemprop="title">ERRO 404</span>
                                </a>
                            </span>
                        </div>
                        <h2 class="breadcrumb-title">ERRO</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget mdc-widget-404">
                    <div class="widget-content">

                        <header>
                            <h3><b>Página não encontrada!</b></h3>
                            <p>Por favor, verifique o endereço digitado.</p>
                            <p>Ir para a <a href="?p=index">Página Inicial</a>.</p>
                        </header> 

                        <p>ERRO 404</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
