            <section class="mdc-area mdc-area-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="mdc-module-breacrumb style-01">
                                    
                                    <div class="breadcrumb-nav">
                                        <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                            <a itemprop="url" href="?p=index">
                                                <span itemprop="title">Home /</span>
                                            </a>
                                        </span>
                                        <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                            <a itemprop="url" class="current-page">
                                                <span itemprop="title">Galeria de Fotos</span>
                                            </a>
                                        </span>
                                    </div>
                                    <h2 class="breadcrumb-title">Fotos</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mdc-area mdc-area-6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="widget mdc-widget-popup-portfolio">
                                <div class="widget-title style-10">
                                    <h2 class="title style mdc-style-03">Galeria de Fotos</h2>
                                    <!--<p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros adipiscing nonummy.</p>-->
                                </div>
                                <div class="widget-content">
                                    <ol class="filters-options clearfix">
                                        <li class="active" data-val="*">Todas</li>
                                        <li data-val="1">Artesanato</li>
                                        <li data-val="2">Hidroginástica</li>
                                        <li data-val="3">Terapia Ocupacional</li>
                                    </ol>
                                    <ul class="row mdc-masonry-grid">
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="3">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(1).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(1).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Terapia Ocupacional</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>   
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="3"> 
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(2).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(2).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Terapia Ocupacional</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">      
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(3).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(3).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="3">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(4).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(4).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Terapia Ocupacional</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">  
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(5).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(5).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="2">    
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(6).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(6).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Hidroginástica</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(7).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(7).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>   
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1"> 
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(8).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(8).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">      
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(9).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(9).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="2">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(10).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(10).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Hidroginástica</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="3">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(11).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(11).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Terapia Ocupacional</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>   
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1"> 
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(12).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(12).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">      
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(13).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(13).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(14).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(14).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">  
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(15).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(15).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="3">    
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(16).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(16).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Terapia Ocupacional</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="3">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(17).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(17).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Terapia Ocupacional</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>   
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1"> 
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(18).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(18).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">      
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(19).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(19).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(20).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(20).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(21).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(21).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>   
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1"> 
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(22).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(22).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">      
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(23).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(23).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="mdc-item col-md-4 col-sm-6 col-xs-12 show" data-val="1">
                                            <article class="entry-item">
                                                <div class="entry-thumb">
                                                    <img src="images/_galeria/(24).jpg" alt="">
                                                    <ul class="mdc-add-action">
                                                        <li><a class="ti-zoom-in" href="images/_galeria/(24).jpg" data-lightbox="example-set" data-title="Lírio dos Vales"></a></li>
                                                    </ul>
                                                </div>
                                                <div class="entry-content">
                                                    <h3 class="entry-title"><a>Artesanato</a></h3>
                                                    <span class="sub-title">Lírio dos Vales</span>
                                                </div>
                                            </article>
                                        </li>  
                                    </ul>
                                    <!--<div class="row">
                                        <div class="col-md-12 col-xs-12 col-sm-12">
                                            <div class="mdc-loadmore style-02">
                                                <span>Load more Works</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>