<section class="mdc-area mdc-area-nospace">
    <div class="widget mdc-widget-slider-03">
        <div class="widget-content">
            <div class="slider-pro slider-pro-3">
                <div class="sp-slides"> 
                    <div class="sp-slide mdc-slide-rgba">
                        <div class="sp-image-container">
                        <img class="sp-image sp-image-bg" src="images/blank.gif"
                        data-src="images/_home/slide1.jpg"
                        data-retina="images/_home/slide1.jpg" alt="" /></div>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="135" data-show-transition="right" data-show-delay="400" data-hide-delay="300" data-show-duration="800" data-hide-duration="800">Acompanhamento geriátrico</p>
                        <p class="sp-layer sp-txt-3 hidden-sm hidden-xs" data-horizontal="90" data-vertical="245" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">Geriatra é o médico que se especializou no cuidado de pessoas idosas.</p>
                        <p class="sp-layer sp-link-3" data-horizontal="90" data-vertical="300" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">
                            <a href="?p=empresa">Saiba mais sobre nossa empresa</a>
                        </p>
                    </div>
                    
                    <div class="sp-slide mdc-slide-rgba">
                        <div class="sp-image-container">
                        <img class="sp-image sp-image-bg" src="images/blank.gif"
                        data-src="images/_home/slide2.jpg"
                        data-retina="images/_home/slide2.jpg" alt="" /></div>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="135" data-show-transition="right" data-show-delay="400" data-hide-delay="300" data-show-duration="800" data-hide-duration="800">Curta sua melhor idade aqui!</p>
                        <p class="sp-layer sp-link-3" data-horizontal="90" data-vertical="245" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">
                            <a href="?p=galeria">Galeria de fotos</a>
                        </p>
                    </div>
                    
                    <div class="sp-slide mdc-slide-rgba">
                        <div class="sp-image-container">
                        <img class="sp-image sp-image-bg" src="images/blank.gif"
                        data-src="images/_home/slide3.jpg"
                        data-retina="images/_home/slide3.jpg" alt="" /></div>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="135" data-show-transition="right" data-show-delay="400" data-hide-delay="300" data-show-duration="800" data-hide-duration="800">Cuidadores Capacitados</p>
                        <p class="sp-layer sp-txt-3 hidden-sm hidden-xs" data-horizontal="90" data-vertical="245" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">Todos os serviços prestados aos idosos são acompanhados e supervisionados por um cuidador </p>
                        <p class="sp-layer sp-txt-3 hidden-sm hidden-xs" data-horizontal="90" data-vertical="270" data-show-transition="up" data-show-delay="1500" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">capacitado a fim de fornecer e superar as expectativas dos familiares e idosos.</p>
                        <p class="sp-layer sp-link-3" data-horizontal="90" data-vertical="315" data-show-transition="bottom" data-hide-transition="bottom" data-show-delay="2400" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">
                            <a href="?p=servicos">Nossos serviços</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="loading-slider">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<section class="mdc-area">
    <div class="container">
        <div class="row mdc-custom-row-03 mdc-style-01">
            <div class="col-md-8 col-sm-8 col-xs-12 mdc-custom-left">
                <div class="widget mdc-widget-service-2-home3">
                    <div class="widget-title style-06">
                        <h2 class="title mdc-style-02">Serviços oferecidos</h2>
                        <!--<p>All services listed below are available from Emory Healthcare, but some pages that describe our offerings in those areas may not be available yet.</p>-->
                    </div>
                    <div class="widget-content">
                        <div class="row mh-populor">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-car icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Transporte particular de passageiros</a></h3>
                                        <!--<p>Visit MassGeneral Hospital for Children to find a pediatric provider.</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-users icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Supervisão de cuidadores</a></h3>
                                        <!--<p>View a list of Massachusetts General Hospital locations in and around the Boston area...</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-sign-language icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Massoterapia</a></h3>
                                        <!--<p>Use our online payment gateway to make payment to our hospitals.</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-music icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Zumba Gold</a></h3>
                                        <!--<p>Use our online payment gateway to make payment to our hospitals...</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-tint icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Hidroginástica</a></h3>
                                        <!--<p>Use our online payment gateway to make payment to our hospitals.</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-paint-brush icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Artesanato</a></h3>
                                        <!--<p>Request an appointment or second opinion, refer a patient, find a doctor ...</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-graduation-cap icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Acompanhamento pedagógico</a></h3>
                                        <!--<p>Use our online payment gateway to make payment to our hospitals.</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-gamepad icons" aria-hidden="true"></i>
                                        
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Terapia Ocupacional</a></h3>
                                        <!--<p>Use our online payment gateway to make payment to our hospitals...</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-cutlery icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Acompanhamento nutricional</a></h3>
                                        <!--<p>Use our online payment gateway to make payment to our hospitals.</p>-->
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="fa fa-user-md icons" aria-hidden="true"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="?p=servicos">Acompanhamento geriátrico</a></h3>
                                        <!--<p>Request an appointment or second opinion, refer a patient, find a doctor ...</p>-->
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 mdc-custom-right">
                <div class="widget mdc-widget-time-house">
                    <div class="widget-title style-06">
                        <h2 class="title mdc-style-02">Horário de Funcionamento</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>-->
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li>
                                <span class="mdc-date">Segunda-feira</span>
                                <span class="mdc-time">08:00 – 18:00</span>
                            </li>
                            <li>
                                <span class="mdc-date">Terça-feira</span>
                                <span class="mdc-time">08:00 – 18:00</span>
                            </li>
                            <li>
                                <span class="mdc-date">Quarta-feira</span>
                                <span class="mdc-time">08:00 – 18:00</span>
                            </li>
                            <li>
                                <span class="mdc-date">Quinta-feira</span>
                                <span class="mdc-time">08:00 – 18:00</span>
                            </li>
                            <li>
                                <span class="mdc-date">Sexta-feira</span>
                                <span class="mdc-time">08:00 – 18:00</span>
                            </li>
                            <li>
                                <span class="mdc-date">Sábado</span>
                                <span class="mdc-time">09:00 – 14:00</span>
                            </li>
                            <li>
                                <span class="mdc-date">Domingo</span>
                                <span class="mdc-time">Fechado</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-testimonial-home3">
                    <div class="widget-content">
                        <div class="mdc-controll-owl">
                            <span class="prev"><i class="ti-angle-left"></i></span>
                            <span class="next"><i class="ti-angle-right"></i></span>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-12">
                                <div class="owl-carousel" data-speed="1000" data-auto="false">
                                    <blockquote class="mdc-quote style-02">
                                        <h3>Testemunho</h3>
                                        <p>A comunidade de Itaparica há muito aguardava uma instituição séria, onde seus idosos pudessem ter acompanhamento pedagógico diário, afinal estamos sempre aprendendo.</p>
                                        <a href="https://www.facebook.com/jacyarapaiva/posts/10208581497241017:0" target="_blank">Jacyara Manhoga Paiva</a>
                                        <img class="imagemtestemunho" src="images/_home/_testemunhas/Jacyara.jpg" alt="">
                                    </blockquote>
                                    <blockquote class="mdc-quote style-02">
                                        <h3>Testemunho</h3>
                                        <p>Um ótimo trabalho que estão fazendo com nossos idosos, a qualidade de vida da minha avó melhorou muito indo para o espaço de vocês! Ela esta bem mais feliz e cheia de novidades!!!</p>
                                        <a href="https://www.facebook.com/liliane.costasantana/posts/1018062204968664:0" target="_blank">Liliane Costa Santana</a>
                                        <img class="imagemtestemunho" src="images/_home/_testemunhas/Liliane.jpg" alt="">
                                    </blockquote>
                                    <!--<blockquote class="mdc-quote style-02">
                                        <h3>Testemunho</h3>
                                        <p>Etiam feugiat libero et sapien. Donec rutrum neque ac congue venenatis lorem ipsum pulvinar leo sollicitudin metus massa non velit. Maecenas elementum. In a nulla. Mauris metus turpis iaculis hendrerit vel pretium non</p>
                                        <a href="#" target="_blank">ANN CLARK</a>
                                        <img src="images/3.png" alt="">
                                    </blockquote>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
