<section class="mdc-area mdc-area-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="mdc-module-breacrumb style-01">

                        <div class="breadcrumb-nav">
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" href="#">
                                    <span itemprop="title">Home</span>
                                </a>
                            </span>
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" class="current-page">
                                    <span itemprop="title">/ Serviços</span>
                                </a>
                            </span>
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" class="current-page">
                                    <span itemprop="title">/ Plan Your Visit</span>
                                </a>
                            </span>
                        </div>
                        <h2 class="breadcrumb-title">Plan Your Visit</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-plan-visit">
                    <div class="widget-content">
                        <span>We understand that seeking medical treatment outside your home country can be a physically and emotionally exhausting experience and we know that it can be stressful too. The International Patients Departments at the various Apollo Hospitals locations strive to ensure that you not only feel at home, but also go back to your country in good health.</span>
                        <div class="mdc-wrap-big">
                            <i class="glyph-icon flaticon-light-bulb"></i>
                            <div class="mdc-wrap">
                                <span class="mdc-atten">Step 1</span>
                                <span class="mdc-atten-lv1">Learn about us</span>
                                <p>Through this website we have tried to provide you complete information about our hospitals, doctors and range of services. We've also strived to answer your doubts and queries about why you should choose Apollo Hospitals, India as your medical care destination. Do take time to find out who we are, where we are, what services we provide, and what our hospital facilities are.</p>
                            </div>



                        </div>
                        <div class="mdc-wrap-big">
                            <i class="glyph-icon flaticon-medical"></i>
                            <div class="mdc-wrap">
                                <span class="mdc-atten">Step 2</span>
                                <span class="mdc-atten-lv1">Selecting your doctor</span>
                                <p>Apollo Hospitals with its vast pool of internationally qualified doctors ensures that you get the best resource in each medical specialty to offer you the best possible treatment options. Our medical fraternity represents over 55 medical specialties and the Find a Doctor section in this website offers you their profiles. We request you to fill in the request information form so that we can refer you to the appropriate doctor and location.</p>
                            </div>



                        </div>
                        <div class="mdc-wrap-big">
                            <i class="glyph-icon flaticon-airplane-flight"></i>
                            <div class="mdc-wrap">
                                <span class="mdc-atten">Step 3</span>
                                <span class="mdc-atten-lv1">48 hour response time</span>
                                <p>Apollo Hospitals aims to respond to your query within 48 hours. Depending on the nature of the medical help required, the response could include advice on medical procedure along with a quote or if the concerned doctor feels that he/she needs to know more or view recent reports, we will communicate to you accordingly.</p>
                            </div>


                        </div>
                        <div class="mdc-wrap-big">
                            <i class="glyph-icon flaticon-24-hours"></i>
                            <div class="mdc-wrap">
                                <span class="mdc-atten">Step 4</span>
                                <span class="mdc-atten-lv1">Arrange travel</span>
                                <span class="mdc-atten">If you are traveling abroad for medical reasons for the first time, here are certain pointers to help you plan your journey better.</span>
                                <p class="mdc-list">Ask your doctor if you are fit to travel overseas with your medical condition.</p>
                                <p class="mdc-list">Once you decide to continue your treatment abroad, keep your local doctor informed so that you can continue your follow up treatment without a hitch.</p>
                                <p class="mdc-list">When selecting the international hospital that's right for your needs, you should consider the hospital's accreditation, awards and recognitions, facility and equipments, etc.</p>
                                <p class="mdc-list">Check the credentials and experience of the doctor who will treat you.</p>
                                <p class="mdc-list">Find out about the procedure and compare your expectations with what's achievable by the surgery. Also enquire about follow-up care needed, time required for recovery, physical therapy, etc.</p>
                                <p class="mdc-list">Please note that in most cases the final decisions on your treatment will be made only after the doctor meets you and examines you in person. It is possible that your doctor, upon examining you, may decide you are not fit for surgery, or recommends treatment different from what you planned.</p>
                                <p class="mdc-list">Certain documents must always be with you. Ensure that you carry multiple copies of the same and keep the originals in a safe place when abroad. </p>
                                <p class="mdc-list">Records like X-Rays, MRI's, health histories, photographs, immunization records, prescriptions, and any other health records relevant to the surgery. Remember to carry all these medical reports and any medicines in your carry-on luggage.</p>
                                <p class="mdc-list">Passport and visa: You will need a passport for yourself and your travel companion (if any). Depending upon the country you are traveling from, you may or may not need a visa.</p>
                                <p class="mdc-list">Credit cards, debit cards and travelers checks: Bring some local currency, travelers checks and one or two major credit cards and debit cards.</p>
                                <p class="mdc-list">Carry your driver's license or any valid proof of identity and make sure it will remain valid while you're traveling.</p>
                            </div>


                        </div>
                        <div class="mdc-wrap-big">
                            <i class="glyph-icon flaticon-home"></i>
                            <div class="mdc-wrap">
                                <span class="mdc-atten">Step 5</span>
                                <span class="mdc-atten-lv1">Your stay in India</span>
                                <p>The international patients division of Apollo Hospitals can help organize your stay in reputed five star, three star or comfortable guest rooms prior and post your treatment if required - according to your budget.</p>
                            </div>


                        </div>
                        <div class="mdc-wrap-big">
                            <div class="mdc-wrap">
                                <span class="mdc-atten">Step 6</span>
                                <span class="mdc-atten-lv1">Points to remember while you are at our hospital</span>
                                <p class="mdc-attent">Registration at Hospital: <span> You are required to produce your passport at the registration counter to get registered at our hospital. The hospital will maintain a copy of your passport (Photo page and visa page) in your hospital record. This is mandatory and is based on the directives from the Government of India.</span></p>
                                <p class="mdc-attent">Visa: <span>If you are travelling on a medical visa, you are required to register at the Foreigners Regional Registration Office within 14 days of your arrival. The prescribed format for the same is available at the International Patients Service Desk. Patients from Pakistan and Bangladesh are required to register their arrival within 24 hours with the nearest Police Station/Commissioner's Office. Please refer to our Visa/Transit document for instructions.</span></p>
                                <p class="mdc-attent">International Insurance: <span>At Apollo Hospitals, we work with certain International Insurance providers and the list is available at the International Patients Service Desk/ Admission counter. We will not be able to process/accept any other foreign insurance coverage for cashless (insurance covered) treatment. The insurance coverage provided by the companies on our list is valid only for Inpatient procedures which needs more than 48 hours of hospitalization and is subject to approval from the insurance providers. At the time of admission a deposit needs to be made at the in-patient billing department, based on your room category. This amount will be refunded once we receive the payment authorization from your insurance provider. In case the insurance is not approved within 48 hours of admission, you're requested to settle the hospital bill and claim a reimbursement from your insurance provider.</span></p>
                                <p class="mdc-attent">Payments: <span>We accept all major credit cards like <span class="mdc-attent">VISA, MASTER CARD, AMEX & CIRRUS</span> and <span class="mdc-attent">Traveler's cheques</span>. We also accept payment for In-patient services in the following currencies: <span class="mdc-attent">USD, CAD, Euro, Pound Sterling, Omani Riyal, UAE Dirham, Kuwait Dinar, Saudi Riyal, Singapore Dollars etc. We also have a payment gateway on the website for select locations.</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>