<section class="mdc-area mdc-area-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="mdc-module-breacrumb style-01">

                        <div class="breadcrumb-nav">
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" href="?p=index">
                                    <span itemprop="title">Home / </span>
                                </a>
                            </span>
                            <span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                                <a itemprop="url" class="current-page">
                                    <span itemprop="title">Serviços</span>
                                </a>
                            </span>
                        </div>
                        <h2 class="breadcrumb-title">Serviços oferecidos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-8">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-center">Curta sua melhor idade aqui!</h1>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-6 mdc-area-notop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-about-listar">
                    <div class="widget-content">
                        <ul class="mh-populor row">
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Transporte particular de passageiros</a></h3>
                                        <p class="text-justify">Oferecemos o serviço de transporte de passageiros com TOTAL SEGURANÇA, AGILIDADE, PONTUALIDADE e RESPEITO.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Supervisão de cuidadores</a></h3>
                                        <p class="text-justify">Todos os serviços prestados aos idosos são acompanhados e supervisionados por um cuidador capacitado a fim de fornecer e superar as expectativas dos familiares e idosos.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Massoterapia</a></h3>
                                        <p class="text-justify">O tratamentos ajuda a melhorar a circulação sanguínea, diminuir a retenção de líquidos e, por consequência, o inchaço corporal e ainda ajudam na eliminação de gordurinhas.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Zumba Gold</a></h3>
                                        <p class="text-justify">A maior diferença é que há algumas modificações, é sem impacto nas articulações e é ainda mais simples, só que sem perder a animação da aula tradicional.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>

                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Hidroginástica</a></h3>
                                        <p class="text-justify">Praticar atividade física é ideal em todas as fazes da vida, e a hidroginástica na terceira idade é uma ótima opção, pois o corpo passa por inúmeras transformações, como declínio de massa muscular.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Artesanato</a></h3>
                                        <p class="text-justify">Artesanato ajuda a melhorar a qualidade de vida dos aposentados. A arte estimula a criatividade e faz com que o idoso exponha suas ideias e aptidões ajudando a exercitar a mente.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Pedagogo</a></h3>
                                        <p class="text-justify">Atividades pedagógica com idosos. A terceira idade, têm apontado uma gama de benefícios à saúde a sociedade promovidos com a prática de atividades físicas cotidianas,lazer entre outros.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Terapia Ocupacional</a></h3>
                                        <p class="text-justify">O terapeuta ocupacional estuda e emprega atividades de trabalho e lazer no tratamento de distúrbios físicos ou mentais e de desajustes emocionais e sociais.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Acompanhamento nutricional</a></h3>
                                        <p class="text-justify">O acompanhamento nutricional é recomendado em diferentes situações e fases da vida.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <article class="entry-item mdc-style-1">
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a>Acompanhamento geriátrico</a></h3>
                                        <p class="text-justify">Geriatra é o médico que se especializou no cuidado de pessoas idosas.</p>
                                        <!--<a href="#" class="mdc-read-more">Find out more</a>-->
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>